<html>

<head>
    <title>MNH Learning</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="classes.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showClasses' class="container">
                <div v-for="classes in sortedClasses" class="d-flex m-3">
                    <h2 v-text="classes.title"></h2>
                    <figure>
                        <img v-bind:src="classes.image">
                    </figure>
                    <p v-html="classes.description"></p>
                    <p>Price: {{classes.price}}</p>
                    <p>Available supply: {{classes.spaces -cartCount(classes.id) }}</p>

                    <button v-on:click='addToCart(classes)' v-if='canAddToCart(classes)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>

                    <span v-if='classes.spaces === cartCount(classes.id)'>All out!</span>
                    <span v-else-if="classes.spaces - cartCount(classes.id) < 0">
                         {{classes.spaces - cartCount(classes.id)}} Available
                   </span>
                    <span v-else>Buy now!</span>

                   
                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>Username:</strong>
                    <input v-model.trim="order.Username" />
                </p>
               
                <p>
                    <strong>Number:</strong>
                    <input v-model.number="order.Number" type="number" />
                </p>

                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: ' MNH Learning',
                classes: classes,
                cart: [],
                showClasses: true,
                order: {
                    Username: '',
                    number: '',
                },
            },
            methods: {
                addToCart(classes) {
                    this.cart.push(classes.id);
                },
                showCheckout()  {
                    this.showClasses = this.showClasses ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(classes) {
                    return classes.spaces > this.cartCount(classes.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                sortedClasses() {
                    let classesArray = this.classes.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return classesArray.sort(compare);
                }
            },
        });
    </script>
</body>

</html>